<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="../public/css/bulma.css">
    <link rel="stylesheet" href="../public/css/color.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<section class="section">

    <div class="container">
        <div class="column is-12 tabs is-medium">
            {{template "tab.html" }}
            <div>
                <h1 class="mt-5 mb-3 has-text-info	"> List of Homegates ({{.total}})</h1>
                <div class="columns is-mobile">
                    <div class="column is-2">
                        <div class="select">
                            <select>
                                <option selected>Trạng thái homegate</option>
                                <option>Online</option>
                                <option>Offline</option>
                            </select>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="filter-options mb-5 field has-addons">
                            <div class="control has-icons-left">
                                <label>
                                    <input class="input" type="text" id="homegateId-input" placeholder="Homegate id">
                                </label>
                                <span class="icon is-small is-left">
                       <i class="material-icons">search</i>
                    </span>
                            </div>
                            <div class="control" id="search">
                                <a class="button is-primary is-outlined" onclick="searchByHgId()">Search</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{if not .homegates }}
                    <p class="mb-5">Không tìm thấy kết quả !!</p>
                {{end}}

                <table class="table is-hoverable">
                    <thead>
                    <tr>
                        <th>Homegate Id</th>
                        <th>Serial</th>
                        <th>State</th>
                        <th>IP Public</th>
                        <th>Created</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .homegates}}
                        <tr {{if eq .State 1 }} class="text--online"  {{else}} class="text--disabled"  {{end}}>
                            <td data-homegateId="{{.Id}}" class="homegate-id">{{.Id}}</td>
                            <td>{{.Serial}}</td>
                            <td>
                                {{if eq .State 1 }}
                                    <i class="material-icons color--online">fiber_manual_record</i>
                                {{else}}
                                    <i class="material-icons color--offline">fiber_manual_record</i>
                                {{end}}
                            </td>
                            <td class="ip-public">{{.IpPublic}}</td>
                            <td>{{.Created}}</td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
                {{/*    .pageLists and .totalPage*/}}
                <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
                    {{with .}}
                        {{$currentPage := .currentPage}}
                        {{$addFunc := .add}}
                        {{$keySearch := .keySearch}}
                        <ul class="pagination-list">
                            {{range $indexPage, $page :=  .pageLists }}
                                {{  $indexPlus1 := call $addFunc $indexPage}}
                                {{if eq $currentPage (call $addFunc $indexPage)}}
                                    <li><a class="pagination-link is-current " disabled>{{$indexPlus1}}</a></li>
                                {{else}}
                                    <li><a class="pagination-link"
                                           href="/api/admin/devices?page={{$indexPlus1}}&hgid={{$keySearch}}"> {{ $indexPlus1}}  </a>
                                    </li>
                                {{end}}
                            {{end}}
                            {{/*                {{ $totalPage := .totalPage }}*/}}
                            {{/*                <li><a class="pagination-link" aria-label="Goto page {{$totalPage}}">{{$totalPage}}</a></li>*/}}
                        </ul>
                    {{end}}
                </nav>

                <pre id="output"></pre>

            </div>
</section>
<script>
    function searchByHgId() {
        var getHgId = document.getElementById("homegateId-input").value;
        if (getHgId.length === 0) {
            alert("hãy nhập kí tự")
        } else {
            window.location.href = "/api/admin/devices?hgid=" + getHgId;
        }
    }

    // url = 'ws://localhost:8082/api/admin/ws';
    // websocket = new WebSocket(url);
    //
    // send = function(data){
    //     var getHomegateIdElement = document.getElementsByClassName('homegate-id');
    //
    //     for (var i = 0; i < getHomegateIdElement.length; i++) {
    //         websocket.send(getHomegateIdElement[i].getAttribute("data-homegateId"))
    //     }
    // }
    //
    // websocket.onmessage = function(msg){
    //     const getIpPublicElement = document.getElementsByClassName('ip-public');
    //
    //     for (let i = 0; i < getIpPublicElement.length; i++) {
    //         getIpPublicElement[i].innerHTML = msg.data
    //     }
    //
    // }
    // websocket.onclose = function(){
    //     console.log("close web socket")
    //
    // }
    //
    // websocket.onopen = function(){
    //     setInterval(
    //         function(){ send("ping") }
    //         , 1000 )
    // }

</script>

</body>
</html>
