<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ADMIN@</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .tab-content {
            display: none;
        }
        .download {cursor: pointer}
        .tab-content.is-active{display: block}
    </style>
</head>
<body>
<section class = "section">

<div class="container">
    <div class="column is-12 tabs is-medium">
        {{template "tab.html" }}
</div>
<div class="column is-12 tabs-content">
    <div class="tab-content is-active">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th><abbr title="File name">Name</abbr></th>
                <th><abbr title="Description">Description</abbr></th>
                <th><abbr title="Download">Download</abbr></th>
                <th><abbr title="Download">Delete &#10008;</abbr></th>
            </tr>
            </thead>
            <tbody>
            {{ range $file_name := .fileName }}
            <tr>
                <th>{{ $file_name }}</th>
                <th>{{ $file_name }}</th>
                <th class="download">
                        <div>
                            <a class="download-file {{$file_name}}"  name={{$file_name}} >
                                <i class="fa fa-download" aria-hidden="true">
                                </i>
                            </a>
                        </div>
                </th>
                <th onclick="deleteFile({{$file_name}})">&#10008;</th>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
    {{/*    list of files tab*/}}
    <div class="tab-content">
        <div class="file has-name">
            <form action="/api/admin/upload" enctype="multipart/form-data" method="POST">
                <label for="files">Select files:</label>
                <input type="file" id="file" name="file" >
                <input type="submit"  class="button info" id="submit">
            </form>
        </div>
    </div>
    {{/*    upload tab*/}}
</div>
</div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    function deleteFile(file_name) {
        $.ajax({
            url: '/api/admin/file/name?file_name=' + file_name,
            type: 'DELETE',
        }).done(function (callback) {
            alert(callback)
            location.reload()
        })
    }

    $(document).ready(function() {

        $('.tabs').each(function(index) {
        var $tabParent = $(this);
        var $tabs = $tabParent.find('li');
        var $contents = $tabParent.next('.tabs-content').find('.tab-content');

        $tabs.click(function() {
            var curIndex = $(this).index();
            $tabs.removeClass('is-active');
            $tabs.eq(curIndex).addClass('is-active');
            // toggle contents
            $contents.removeClass('is-active');
            $contents.eq(curIndex).addClass('is-active');
        });

        $('.download-file').click(function (e) {
            var getFileName = $(this).attr("name")
            console.log(getFileName)
            $.ajax({
                url: '/api/download/' + getFileName,
                type: 'GET',
                headers : {
                    "x-header" : "Bearer @DicomBD3cxm@3csk22431af33mlskf*f2@dqwdqw2xcc@[-=-asd@"
                },
            })
        })
    });

    });

</script>