<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Hello Bulma!</title>
    <link rel="stylesheet" href="./../upload/css/bulma.css">
</head>
<body>


     <div class="container">
          <div class="columns is-centered is-vcentered is-mobile">
                 <form action="/login" method="POST">
               <div class = "field">
                    <label class = "label is-size-5">Name</label>
                    <div class = "control">
                        <input class = "input" required autocomplete="false" name="username" type = "text" placeholder = "Enter your name...">
                    </div>
               </div>
               <div class = "field">
                    <label class = "label">Password</label>
                    <div class = "control">
                        <input class = "input" required autocomplete="false" name="password" type = "password" placeholder = "Enter your password...">
                    </div>
                </div>
                     {{if .error}}
                         <p>{{.error}}</p>
                     {{end}}
                      <input type="submit" class="button is-info is-medium  is-fullwidth" value="Sign in">
                 </form>
          </div>


     </div>
</section>
</body>
</html>
