<ul>
    <li class="is-active" disabled><a href="/api/admin/file" disabled>List File</a></li>
    <li><a class="is-disabled" disabled="true">Upload</a></li>
    <li><a href="/api/admin/devices" class="">Devices</a></li>
</ul>
